.qr-code-container{
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width:30%;
}

body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 15px;
}

.qr-code-img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
}

.text-container{
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
}

h1{
    
    font-weight: 700;
}

p{
    color: hsl(216, 15%, 48%);
    font-weight: 400;
}
